@use "@styles/breakpoint";
@use "@styles/space";
@use "@styles/color";

.errorContainer {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid color.$error-300;
  background-color: color.$error-25;

  @media (max-width: breakpoint.$desktop) {
    align-self: stretch;
  }
}

.alertIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.errorContent {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;

  @media (max-width: breakpoint.$desktop) {
    align-items: center;
  }
}

.errorText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  color: color.$error-700;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  @media (max-width: breakpoint.$desktop) {
    align-self: stretch;
  }
}

.actionContainter {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.tryAgainButton {
  cursor: pointer;
  display: flex;
  align-items: flex-start;

  // border-radius: 8px;
  color: color.$error-700;
  border: none;
  background: inherit;
}

.tryAgainButtonBase {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: inherit;
}

.buttonText {
  color: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.buttonIcon {
  width: 20px;
  height: 20px;
  color: color.$error-50;
}
